.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 52px;
  background-color: #e6977867;
}
.contact-space {
  margin-top: 30px;
}
.contact-section .contact-space {
  display: flex;
  justify-content: space-between;
}
.contact-section h1 {
  text-align: center;
  font-size: 1.9rem;
}
.contact-col-1 {
  width: 50%;
}
.information {
  width: 40%;
}
.information div p {
  text-align: center;
}

/* Media Query */

@media screen and (max-width: 855px) {
  .contact-section .contact-space {
    display: flex;
    flex-direction: column;
  }
  .contact-col-1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .information {
    width: 100%;
  }
}
