.recipes-archive,
div.search-results-container {
  padding: 52px;
  min-height: 47vh;
  background-color: #e6977867;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.previous,
.next {
  margin-top: 30px;
}
.previous a,
.next a {
  color: #502418de;
}
.recipes-archive h3 {
  margin: 0;
}
.recipes-archive h1 {
  text-align: center;
  font-size: 1.9rem;
}
.card {
  padding: 25px;
  width: 70%;
  border: none;
  padding: none;
  outline: none;
  border-radius: 20px;
  background-color: #ffc4840a;
  margin-top: 10px;
  color: #502418de;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.know-more-link {
  color: black;
}

/* single recipe styling */
.recipe-single-wrapper {
  padding: 52px;
  min-height: 64vh;
  background-color: #e6977867;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recipe-single-wrapper h1 {
  margin-bottom: 0;
  text-align: center;
}

.single-recipe-date {
  margin-top: 3px;
  color: #502418de;
}
.single-recipe-cuisine {
  margin-bottom: 0;
  color: #502418de;
}
/* comment form styling */
ul.ingredients-list,
.steps-list,
.comment-respond {
  list-style-type: none;
  color: #502418de;
  padding: 0;
  margin-bottom: 0;
  width: 70%;
}

.img-single-recipe {
  width: 35%;
  border-radius: 20px;
}

.logged-in-as {
  margin-top: 0;
}
.logged-in-as a {
  display: block;
  color: #502418de;
}
.comment-respond {
  display: flex;
  flex-direction: column;
}
.comment-form-comment textarea {
  margin-top: 10px;
  height: 100px;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #50241883;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
  display: flex;
  flex-direction: column;
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
  padding: 8px;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #50241883;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.comment-form-author label,
.comment-form-url label,
.comment-form-email label {
  margin-bottom: 5px;
}
.comment-form-comment {
  display: flex;
  flex-direction: column;
}
.comment-reply-title {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #502418de;
}
.form-submit {
  display: flex;
}
.form-submit input {
  border: none;
  outline: none;
  padding: 8px;
  width: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #674036;
  font-size: 1.1rem;
  border-radius: 20px;
  font-family: "Fredericka the Great", serif;
}
@media screen and (max-width: 800px) {
  ul.ingredients-list,
  .steps-list,
  .comment-respond,
  .img-single-recipe {
    width: 70%;
  }
}
@media screen and (max-width: 685px) {
  .comment-form-comment textarea {
    width: 100%;
  }
  .form-submit input {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  ul.ingredients-list,
  .steps-list,
  .comment-respond,
  .img-single-recipe {
    width: 80%;
  }
}
